apiVersion: batch/v1
kind: Job
metadata:
  name: catsdogs-train
  namespace: catsdogs-mlops
spec:
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: trainer
          image: ghcr.io/raju55/catsdogs-api:prod
          imagePullPolicy: Always
          env:
            - name: MLFLOW_TRACKING_URI
              value: http://mlflow:5000
            - name: MLFLOW_REGISTER_MODEL
              value: "true"
            - name: MLFLOW_MODEL_NAME
              value: "cats-dogs"
            - name: MLFLOW_MODEL_STAGE
              value: "Production"
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio:9000
            - name: AWS_ACCESS_KEY_ID
              value: minioadmin
            - name: AWS_SECRET_ACCESS_KEY
              value: minioadmin123
            - name: AWS_DEFAULT_REGION
              value: us-east-1
          command: ["python", "-m", "src.catsdogs.train"]
