apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Set the namespace for all namespaced resources automatically
namespace: catsdogs-mlops

resources:
  # Namespace must exist first
  - namespace.yaml

  # MLflow stack (in-cluster)
  - mlflow/postgres.yaml
  - mlflow/minio.yaml
  - mlflow/minio-bucket-job.yaml
  - mlflow/mlflow.yaml

  # API
  - configmap.yaml
  - secret-catsdogs-api.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

  # Training job (register model into MLflow Registry)
  - train/train-job.yaml

# IMPORTANT:
# Since you selected LoadBalancer as the single exposure method,
# do NOT include ingress.yaml here.
