apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: catsdogs-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: mlflow
          image: ghcr.io/raju55/mlflow:prod
          imagePullPolicy: Always
          ports:
            - containerPort: 5000

          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://minio:9000"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: catsdogs-api-secret
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: catsdogs-api-secret
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_DEFAULT_REGION
              value: "us-east-1"

          # IMPORTANT: Kubernetes needs command+args, not docker-compose entrypoint+command
          command: ["mlflow"]
          args:
            - server
            - --host
            - 0.0.0.0
            - --port
            - "5000"
            - --backend-store-uri
            - postgresql+psycopg2://mlflow:mlflow@mlflow-postgres:5432/mlflow
            - --default-artifact-root
            - s3://mlflow

          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 3
