apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: catsdogs-mlops
spec:
  selector:
    app: mlflow
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
